<% unless alert.nil? %>
<footer>
  <div class="alert alert-bottom-right alert-warning alert-dismissible fade show" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>🤯 </strong><%= alert %>
  </div>
</footer>
<% end %>
