<h3 class="mt-4">Reviews of <%= @pet.name %>:</h3>

<p class="mb-3 d-inline-block">Average rating: &nbsp <%= render 'components/star', pet: @pet %><p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Rating</th>
      <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>

    <% @pet.reviews.each do |review| %>

      <tr>
        <td><%= render 'components/review_star', review: review %></td>
        <td><%= review.content %></td>
      </tr>

    <% end %>

  </tbody>
</table>
