.pet-show-image {
  object-fit: cover;
  height: 500px;
  width: 100%;
  border-radius: 4px;
}

.table th {
  padding-left: 0px;
}

.table td {
  padding-left: 0px;
}

.pet_show_review_stars {
  width: 110px;
}
