<div class="jumbotron">
  <h1 class="display-4">Pet's name</h1>
  <p class="lead">Pet description</p>
  <hr class="my-4">

  <%= link_to 'Book this pet', new_pet_booking_path(@pet) %>
</div>

<% if policy(@pet).edit? %>
  <%= link_to 'Edit Your Pet', edit_pet_path(@pet) %>
<% end %>

<% if policy(@pet).destroy? %>
  <%= link_to 'KILL Your Pet', pet_path(@pet), method: :delete, data: { confirm: "Are you sure?" } %>
<% end %>
