<div class="container m-5">

  <!-- user details -->
  <%= render 'components/user_details' %>

  <!-- your bookings-->
  <%= render 'components/your_bookings' %>

  <!-- pets accordian -->
  <%= render 'components/your_pets' %>
</div>
