<body class="image-background-cover" style="background-image: url('https://images.wallpaperscraft.com/image/puppy_dog_bw_126871_1600x900.jpg');">
  <div class="container d-flex justify-content-left">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Welcome to PET SHOP BOYS</h5>
            <p class="card-text">Something (...)</p>
            <button class="btn btn-light" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
              About us
            </button>
            <div class="collapse" id="collapseExample">
              <div class="card card-body">
                <p>We are WALD!</p>
                <a href="" class="btn btn-light">Go further</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

