<div id="home-banner">
  <div id="home-search">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title d-flex justify-content-center">BOOK PETS</h2>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="inputLocation">Where</label>
                  <input type="text" class="form-control" id="where-search" placeholder="Everywhere">
                </div>
                <div class="form-group col-md-6">
                  <label for="inputDate">When</label>
                  <input type="text" class="form-control" id="when-search" placeholder="Whenever you want">
                </div>
              </div>
            </form>
            <button class="btn btn-primary" type="button">
              Search a pet!
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container" id="pets-scrolled-down">
  <%= render 'pets/index_scrolldown' %>
</div>

