.btn-light {
  &:hover {
    background: none !important;
    border: none !important;
    border-bottom: 1px solid white;
  }
}

.navbar-menus {
  color: black;
  padding: 10px;

  &:hover {
    border-bottom: 1px solid white;
    color: gray;
    text-decoration: none;
  }
}
