.card_pet {
  height: 270px;
  font-family: $body-font;
  color: $dark-gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.pet-img {
  height: 195px;
  object-fit: cover;
  border-radius: 4px;
}

.pet-info {
  display: flex;
  justify-content: space-between;
}

.card {
  border: none;
}

