.card_pet {
  height: 270px;
  font-family: $body-font;
  color: $dark-gray;

}

.pet-img {
  height: 195px;
  object-fit: cover;

}

.pet-info {
  display: flex;
  justify-content: space-between;
}



