._1gw6tte{
  display: block;
  box-sizing: border-box;
}

._1sx1020z {
  display: block;
  margin: 0;
  background-color: #fff;
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1600px;
  background-color: transparent;
}

._aov0j6 {
  display: block;
  margin-top: 40px;
  margin-bottom: 40px;
  background-color: #fff;
  margin: 0;
  color: #484848;
}

._1edw18ts {
  display: flex;
}

._5kaapu {
  display: flex;
  align-items: center;
}

._76dwae {
  display: block;
  margin-bottom: 8px;
  width: 100%;
}

._jmmm34f {
  margin-top: 60px;
  font-weight: 800;
  margin-bottom: 0px;
  line-height: 30px;
  letter-spacing: normal;
  color: #484848;
  padding-top: 2px;
  padding-bottom: 2px;
}

._6htn2u {
  display: block;
  position: relative;
  z-index: 0;
  margin-bottom: 80px;
}

._3uceys {
  scrollbar-width: none !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
  height: 100% !important;
  list-style: none !important;
  overflow-x: auto !important;
  overflow-y: hidden !important;
  padding-left: 0px !important;
  -webkit-overflow-scrolling: touch !important;
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  min-width: 100% !important;
  -webkit-scroll-snap-type: x mandatory !important;
  -ms-scroll-snap-type: x mandatory !important;
  scroll-snap-type: x mandatory !important;
  justify-content: space-between;
}


._1hfjk81 {
  border-style: solid !important;
  border-color: transparent !important;
  scroll-snap-align: start !important;
  scroll-snap-stop: always !important;
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -ms-flexbox !important;
  display: -webkit-flex !important;
  display: flex !important;
}
