.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: transparent ;
  transition: background-color 0.4s ease-out;
}

.navbar.scroll {
  background-color: white;
  color: #eef;
}
