.pet-logo {
  display: inline-block;
  height: 40px;
  width: 40px;
}

.home-button {
  &:hover {
    opacity: 0.7;
    text-decoration: none;
  }
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  background-color: transparent ;
  transition: background-color 0.4s ease-out;
}

.navbar.scroll {
  background-color: white;
  color: $purple;
}

.nav-link2 {
  display: block;
  padding: 0.5rem 1rem;
  color: $purple;
  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}

.navbar-user {
  height: 100%;
  color: $purple;
  &:hover {
    text-decoration: none;
    opacity: 0.7;
  }
}
